@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Handlee&display=swap');
/*-----------------------------------------Colours*/


/*------------------------------------------Header*/
body {
    margin: 0;
    font-family: Chilanka;
    color: #073445;
}

.navbar {
    background-color: #96b5bf;
    align-items: baseline;
    
}

.navbar-nav {
    display:inline-block;
}

.nav-item {
    display:inline-block;
    height: 50px;
    text-align: center;
    padding: 2px;
    font-family: Chilanka;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: #073445;
    height: 12px;
    
}
.nav-item a i {
    padding-top: 2px;
    display: block;
    color: #073445;
    font-size: 12px;
}
.nav-item span {
   /* display: block;*/
    font-family: Chilanka;
}

.name{
    font-size: 40px;
    font-weight: 500;
    color: #073445;
    font-style: bold;
    margin-top: 150px;

}

