@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Handlee&display=swap');
/*-----------------------------------------Colours*/


/*------------------------------------------Header*/
body {
    margin: 0;
    font-family: Chilanka;
    color: #073445;
}

.header-container{
    width: 100%;
    padding: 0;
    margin: 0;
}
.header-row{
    background-color: #96b5bf;
    align-items: baseline;
}
.head-col-nav{}
.head-col-pdf{}

.navbar-nav {
    display:inline-block;
}

.nav-item {
    display:inline-block;
    height: 20px;
    text-align: center;
    padding: 2px;
    font-family: Chilanka;
}

a {
    color:#073445;
    height: 12px;   
}
.coffee-container {
    height: 100vh;
    background: url("../images/coffee-1.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,100.0);
}
.name{
    font-size: 40px;
    font-weight: 500;
    color: #073445;
    font-style: bold;
    margin-top: 150px;

}

