/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,300&display=swap');

/*------------------------------------- Colours */
a {
    color: #444c5d;
}
/*------------------------------------------Global*/
html, body {
    margin: 0;
    padding:0;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: #444c5d;
    height: 100%
}
.inline-block {
    display: inline-block;
}

h1, h3,h5, h6{
    margin: 0;
}

/*--------------------------------------Image overlay*/

.opaque-overlay { /* Copied from Whiskey Drop - Coding Institute - changed colour */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.8);
}
/*------------------------------------------Header*/
header{
    background-color: #c4d4df;
    margin: 0;
    min-height: 50px;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navbar { /* Copied from Whiskey Drop - Coding Institute - modified */
    margin-bottom: 0;
    border: 0;
    width: 100%;
}
.nav-item {
    font-size: 20px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link{
    color: #444c5d;
}
.cv-pdf{
    border: #fff;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
}
/*----------------------------------------Footer*/
footer {
    background-color: #c4d4df;
    margin: 0;
    min-height: 50px;
    z-index: 10;
    position: fixed;
    bottom:0;
    width: 100vw;
}
footer ul {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.footer ul li {
    margin-top: 12px;
    padding: 0;
}
.social-media {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

/*------------------------------------Index Body Image*/

.index-container { /* callout-container copied from Whiskey Drop - Coding Institute - modified */
    height: 100%;
    background: url("../images/index_image.png") no-repeat top left fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   position: relative;
}
.jobtitle {
    color: #444c5d;
    margin-top: 25px;
    margin-left: 50px;
}

/*-------------------------------About Me body */
.about-container{
    background-color: #ececeb;
}
.about-me{
    padding-top: 70px;
}
#about-me-intro{
    padding-top:5px;
    margin-left: 40px;
    margin-right: 0px;
    border-color: #b99557;
    border-style: dashed;
    border-width: thin;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 14px;
}
#about-me-intro ul{
    padding: 0.5em 0em 0.5em 0em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
#about-me-intro li {
    list-style: none;
}
#about-me-intro p {
    padding: 5px 0 0 0;
    margin: 0;

}
#about-me-intro i {
    color: #b99557;
    font-size: 20px;
}
#work-section {
    display: table-cell;
    position: relative;
    padding: 10px 60px 65px 60px;
    text-align: center;
}
#qualify-section {
    position: relative;
    padding: 70px 60px 65px 60px;
    text-align: center;
}
.heading-time{
font-weight: 700;
}
.timeline-item { /* Copied from resume-miniproject-bootstrap4 - Code Institute - modified */
    padding: 1em 2em 1em 5em;
    position: relative;
    border-left: 1px #b99557 solid;
    font-size: 14px;
    text-align: left;
}
.timeline-item p { /* Copied from resume-miniproject-bootstrap4 - Code Institute - modified */
    padding: 0;
    margin: 0;
    font-size: 13px;
}
.timeline-item:before { /* Copied from resume-miniproject-bootstrap4 - Code Institute - modified */
    content: attr(data-dates);
    left: 2.5em;
    top: 1em;
    padding: 0;
    margin: 0;
}
.timeline-item:after { /* Copied from resume-miniproject-bootstrap4 - Code Institute - modified */
    width: 12px;
    height: 12px;
    display: block;
    top: 2.3rem;
    position: absolute;
    left: -6px;
    border-radius: 50%;
    content:"";
    background: #b99557;
}

/*-----------------------------------Project Body*/
.projects-container {
   background-color: #d8dad4
}
.project-row{
    min-height: 100vh;
    padding: 70px 5px 70px 5px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.card-body{
    padding-bottom: 0;
}

.card {
    border-radius: 5%;
    width: 15em;
    height: 12em;
    top: 25%;
    margin: 8% auto;
    padding: 15px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.75;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.card-title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
p.card-title{
    /*color: #444c5d;*/
    color: #2e1f0e;

    z-index: 10;
}
.card-subtitle{
    font-size: 14px;
    text-align: center;
    padding-bottom: 1.5em;
    color: #2e1f0e;
}
button.card-text{
    border-style: none;
    opacity: 1;
    padding: 1px, 0;
    background-color: #fff;
}
.card-text {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: #b99557;
  padding: 30px 10px -5px 10px;
}
.card-text a{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: #b99557;
  padding: 30px 10px 0 10px;
}
#modalLabelP1,
#modalLabelP2,
#modalLabelP3,
#modalLabelP4,
#modalLabelP5,
#modalLabelP2{
    font-weight: 500;
}
.btn-projects{
    background-color: #b99557; 
}
/*------------------------------------Contact Body*/

.contact-container { /* callout-container copied from Whiskey Drop - Coding Institute - modified */
    background: url("../images/contact_image.png") no-repeat top left fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    min-height: 100vh;
}
.contact-form {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 65%;
}

.form-control {
    margin: 0rem;
    padding: 4px;
    height: 20px;
    font-size: 12px;
    /*display: block;*/ 
    overflow: hidden; 
    display: inline-block
}
label{
  display: inline-block;
  margin: 0px;
  font-size: 12px;
}
.btn-secondary {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  font-style: bold;
  background-color: #2c3035;
}
/*--------------------------------------------Media Queries*/
@media (max-width: 768px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    #work-section {
        display: table-cell;
        position: relative;
        padding: 10px 60px 15px 60px;
        text-align: center;
    }
    #qualify-section {
        position: relative;
        padding: 10px 60px 65px 60px;
        text-align: center;
    }
}